.contact-container {
  background: #f9f9fb;
  min-height: 100vh;
}

.map-card {
  background: #fff;
  border-left: 5px solid #0d6efd;
}

.form-card {
  background: #fff;
}

.social-icon {
  display: inline-block;
  font-size: 1.3rem;
  color: #555;
  transition: 0.3s;
}

.social-icon:hover {
  color: #0d6efd;
  transform: scale(1.2);
}
